@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="hero-title">Your Views, Our Community</h1>

    <div class="hero-section">
        <div class="hero-content">
            <h1>Escape The Ordinary</h1>
            <p>Discover your new you</p>
            <a href="#" class="btn btn-primary">Explore Books</a>
        </div>
    </div>
 
    <div class="featured-books">
    <div class="featured-label-container">
       
    </div>
    <div class="books-container">
        <div class="book">
            <img src="/images/harry_potter_1.jpg" alt="Harry Potter and the Sorcerer's Stone">
            <p>Harry Potter and the Sorcerer's Stone</p>
        </div>
        <div class="book">
            <img src="/images/harry_potter_2.jpg" alt="Harry Potter and the Chamber of Secrets">
            <p>Harry Potter and the Chamber of Secrets</p>
        </div>
        <div class="book">
            <img src="/images/harry_potter_3.jpg" alt="Harry Potter and the Prisoner of Azkaban">
            <p>Harry Potter and the Prisoner of Azkaban</p>
        </div>
        <div class="book">
            <img src="/images/harry_potter_4.jpg" alt="Harry Potter and the Goblet of Fire">
            <p>Harry Potter and the Goblet of Fire</p>
        </div>
    </div>
</div>


